   ::selection{
      background-color: yellow;
      color: black;
   }
div#container
{
   width: 1360px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   background-image: url('../images/wp3354893-gradient-blur-wallpapers.jpg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(255,255,255,1.00) rgba(0,0,0,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 5px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(255,255,255,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb:hover
{
   background-color: rgba(255,165,0,1.00);
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#Tabs1.ui-widget
{
   font-size: 1em !important;
}
#Tabs1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #160B1C;
   padding: 4px 4px 4px 4px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   line-height: 1.0;
   padding: 4px 4px 0 4px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav li
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0 2px -1px 0 ;
   text-align: left;
}
#Tabs1 .ui-tabs-nav li a
{
   padding: 8px 10px 8px 10px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-top
{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#Tabs1 .ui-helper-reset
{
   line-height: 25px;
}
#Tabs1 .ui-widget-header
{
   border: 0px solid #DDDDDD;
   background-color: transparent;
   background-image: none;
}
#Tabs1 .ui-state-default, #Tabs1 .ui-widget-content .ui-state-default
{
   border-color: #C5C5C5;
   background-color: #F6F6F6;
   background-image: none;
}
#Tabs1 .ui-state-hover, #Tabs1 .ui-widget-content .ui-state-hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
}
#Tabs1 .ui-state-active, #Tabs1 .ui-widget-content .ui-state-active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
}
#Tabs1 .ui-state-default a, #Tabs1 .ui-widget-content .ui-state-default a
{
   color: #454545;
}
#Tabs1 .ui-state-hover a, #Tabs1 .ui-widget-content .ui-state-hover a
{
   color: #2B2B2B;
}
#Tabs1 .ui-state-active a, #Tabs1 .ui-widget-content .ui-state-active a
{
   color: #FFFFFF;
}
#Tabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#Tabs1 .description
{
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: "LEMON MILK";
   font-weight: 700;
   font-size: 48px;
   line-height: 68.5px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#popup
{
   width: 269px;
   height: 64px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FFFFFF solid;
}
#wb_errorMessage 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_errorMessage
{
   color: #000000;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_errorMessage p, #wb_errorMessage ul
{
   margin: 0;
   padding: 0;
}
#wb_close
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#close
{
   height: 21px;
   width: 26px;
}
.close
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.close:before
{
   content: "\e5cd";
}
#close i
{
   color: #000000;
   display: inline-block;
   font-size: 21px;
   line-height: 21px;
   vertical-align: middle;
   width: 20px;
}
#wb_close:hover #close i
{
   color: #A9A9A9;
}
#skills
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#skills td, #skills th
{
   padding: 0;
}
#skills td div
{
   white-space: nowrap;
}
#skills p, #skills ul
{
   margin: 0;
   padding: 0;
}
#skills .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 194px;
   height: 74px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#skills .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 416px;
   height: 74px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#skills .cell2
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 74px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#skills .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 194px;
   height: 74px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#skills .cell4
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 416px;
   height: 74px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#skills .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 74px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#credentials
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#credentials td, #credentials th
{
   padding: 0;
}
#credentials td div
{
   white-space: nowrap;
}
#credentials p, #credentials ul
{
   margin: 0;
   padding: 0;
}
#credentials .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 148px;
   height: 78px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#credentials .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 162px;
   height: 78px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#credentials .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 148px;
   height: 78px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#credentials .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 162px;
   height: 78px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#messages
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#messages td, #messages th
{
   padding: 0;
}
#messages td div
{
   white-space: nowrap;
}
#messages p, #messages ul
{
   margin: 0;
   padding: 0;
}
#messages .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 418px;
   height: 78px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#messages .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 664px;
   height: 78px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#messages .cell2
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 124px;
   height: 78px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#messages .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 418px;
   height: 78px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#messages .cell4
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 664px;
   height: 78px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#messages .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 124px;
   height: 78px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#admin
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#admin td, #admin th
{
   padding: 0;
}
#admin td div
{
   white-space: nowrap;
}
#admin p, #admin ul
{
   margin: 0;
   padding: 0;
}
#admin .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 432px;
   height: 70px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#admin .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 170px;
   height: 70px;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#admin .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 432px;
   height: 70px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#admin .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 170px;
   height: 70px;
   color: #000000;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_Icon1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: #FF0000;
   background-image: none;
   border: 0px solid #245580;
}
#Icon1
{
   height: 20px;
   width: 20px;
}
.Icon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.Icon1:before
{
   content: "\e5cd";
}
#Icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #000000;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3
{
   color: #FFFFFF;
   font-family: "Brush Script MT";
   font-weight: 400;
   font-size: 48px;
   line-height: 58.5px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_Icon1
{
   position: absolute;
   left: 1252px;
   top: 30px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 10;
}
#wb_popup
{
   position: absolute;
   left: 1056px;
   top: 96px;
   width: 271px;
   height: 66px;
   z-index: 7;
}
#wb_uid256
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid236
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid229
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid218
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid167
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid154
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid134
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid122
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid96
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid61
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid51
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid24
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid12
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid5
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid270
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid257
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid237
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid228
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid219
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid186
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid160
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid157
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid123
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid97
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid60
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid23
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid13
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid4
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid271
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid254
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid230
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid227
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid205
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid187
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid161
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid156
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid124
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid111
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid94
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid67
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid34
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid22
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid10
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid3
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_Image1
{
   position: absolute;
   left: 1px;
   top: 3px;
   width: 1359px;
   height: 677px;
   opacity: 0.05;
   z-index: 4;
}
#wb_uid272
{
   color: white;
}
#wb_uid255
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid241
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid231
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid226
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid204
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid184
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid162
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid151
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid125
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid110
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid108
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid95
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid89
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid70
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid66
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid35
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid21
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid11
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid2
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_close
{
   position: absolute;
   left: 1285px;
   top: 121px;
   width: 26px;
   height: 21px;
   text-align: center;
   z-index: 9;
}
#wb_uid252
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid240
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid232
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid225
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#tabs1-page-4
{
   height: 548px;
}
#wb_uid207
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid191
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid185
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#tabs1-page-3
{
   height: 548px;
}
#wb_uid163
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid150
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid142
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid139
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid126
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid113
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid109
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid88
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#tabs1-page-2
{
   height: 548px;
}
#wb_uid71
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid65
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid36
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid20
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid16
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid1
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#tabs1-page-1
{
   height: 548px;
}
#wb_uid263
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid253
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid243
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid233
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid224
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid206
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid190
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid182
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid153
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid143
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid138
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid127
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid112
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid106
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid72
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid64
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid37
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid17
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid0
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid262
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid250
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid242
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid223
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid201
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid193
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid183
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid179
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid152
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid140
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid115
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid107
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid98
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid73
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid30
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid14
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_errorMessage
{
   position: absolute;
   left: 1086px;
   top: 120px;
   width: 166px;
   height: 33px;
   z-index: 8;
}
#wb_uid261
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid251
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid245
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid222
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid212
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid200
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid192
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid180
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid178
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid141
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid128
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid114
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid104
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid99
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid74
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid41
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid31
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid15
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_Text1
{
   position: absolute;
   left: 256px;
   top: 24px;
   width: 848px;
   height: 65px;
   text-align: center;
   z-index: 6;
}
#wb_uid260
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid244
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid221
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid213
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid203
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid195
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid181
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#messages
{
   position: absolute;
   left: 30px;
   top: 30px;
   width: 1210px;
   height: 475px;
   z-index: 2;
}
#wb_uid146
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid129
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid117
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid105
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid85
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid75
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid58
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid40
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid32
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid267
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid247
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid220
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid210
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid202
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid194
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid177
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid168
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid147
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid116
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid102
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid84
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid76
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid69
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid59
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid43
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid33
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_Text3
{
   position: absolute;
   left: 69px;
   top: 11px;
   width: 75px;
   height: 53px;
   text-align: center;
   z-index: 11;
}
#wb_uid266
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid246
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid211
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid197
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid176
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid169
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid144
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid133
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid119
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid103
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid87
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid77
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid68
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid56
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid42
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#Tabs1
{
   position: absolute;
   left: 34px;
   top: 89px;
   width: 1286px;
   height: 581px;
   z-index: 5;
}
#wb_uid265
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid238
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid216
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid196
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid175
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid145
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid132
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid118
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid100
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid86
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid57
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid45
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid29
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid18
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid264
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid249
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid239
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid217
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid174
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid159
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid131
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid101
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid81
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid78
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid54
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid44
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid28
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid19
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#skills
{
   position: absolute;
   left: 30px;
   top: 30px;
   width: 1205px;
   height: 451px;
   z-index: 0;
}
#wb_uid248
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid214
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid199
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid173
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid158
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid130
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid92
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid80
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid79
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid55
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid47
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid9
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid258
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid215
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid209
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid198
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid172
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid164
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid137
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid93
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid83
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid52
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid46
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid38
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid27
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid8
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid269
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid259
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid234
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid208
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid188
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid171
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid165
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid148
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid136
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid120
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid90
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid82
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#credentials
{
   position: absolute;
   left: 30px;
   top: 30px;
   width: 1207px;
   height: 475px;
   z-index: 1;
}
#wb_uid63
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid53
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid49
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid39
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid26
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid7
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid268
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid235
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#admin
{
   position: absolute;
   left: 30px;
   top: 30px;
   width: 1209px;
   height: 427px;
   z-index: 3;
}
#wb_uid189
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid170
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid166
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid155
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid149
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid135
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid121
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid91
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid62
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid50
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid48
{
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 25px;
}
#wb_uid25
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid6
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#Image1
{
   pointer-events: none;
   user-select: none;
}
   #wb_Text3 p{
      transition: box-shadow 0.5s ease-in-out;
   }
   #wb_Text3 p:hover{   
      text-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
