   ::selection{
      background-color: yellow;
      color: black;
   }
div#container
{
   width: 1360px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   background-image: url('../images/wp3354893-gradient-blur-wallpapers.jpg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(255,255,255,1.00) rgba(0,0,0,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 5px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(255,255,255,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb:hover
{
   background-color: rgba(255,165,0,1.00);
}
#Shape3
{
   width: 285px;
   height: 185px;
   background-color: rgba(0,0,0,0.20);
   background-image: none;
   border: 0px #0963AD solid;
}
#Shape2
{
   width: 285px;
   height: 185px;
   background-color: rgba(0,0,0,0.20);
   background-image: none;
   border: 0px #0963AD solid;
}
#Shape1
{
   width: 285px;
   height: 185px;
   background-color: rgba(0,0,0,0.20);
   background-image: none;
   border: 0px #0963AD solid;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6
{
   color: #FFFFFF;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 74.5px;
}
#wb_Text6 p, #wb_Text6 ul
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 117px;
   line-height: 137px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#email
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.20);
   background-image: none;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px #000000;
   padding: 17px 4px 17px 30px;
}
#email:focus
{
   outline: 0;
}
#wb_email
{
   margin: 0;
}
#email::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#email::-ms-input-placeholder
{
   color: #4F4F4F;
}
#email-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#email::-moz-placeholder
{
   color: transparent;
}
#email::placeholder
{
   color: transparent;
}
#email:not(:-moz-placeholder-shown)
{
   padding-top: 25px;
   padding-bottom: 9px;
}
#email:focus, #email:not(:placeholder-shown)
{
   padding-top: 25px;
   padding-bottom: 9px;
}
#email:-webkit-autofill
{
   padding-top: 25px;
   padding-bottom: 9px;
}
#email:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#email:focus~label, #email:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#email:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#ThemeableButton2
{
   cursor: auto;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   opacity: 0.10;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   margin: 0;
   transform: rotate(-23deg);
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton2 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
}
#ThemeableButton2.ui-button
{
   background-color: #FFFF00;
   background-image: none;
   border: 1px solid #000000;
   color: #000000;
}
#ThemeableButton2.ui-state-hover, #ThemeableButton2.ui-button:hover
{
   border-color: #000000;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
}
#ThemeableButton2.ui-state-active, #ThemeableButton2.ui-button:active
{
   border-color: #000000;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
}
#getstarted
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   box-shadow: 0px 0px 10px #000000;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#getstarted .ui-button
{
   position: absolute;
   padding: 0;
}
#getstarted.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#getstarted.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#getstarted.ui-button
{
   background-color: #A52A2A;
   background-image: none;
   border: 1px solid #000000;
   color: #FFFFFF;
}
#getstarted.ui-state-hover, #getstarted.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#getstarted.ui-state-active, #getstarted.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#register
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_register
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#register
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_register .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#register
{
   color: #454545;
   text-decoration: none;
}
#register :hover
{
   color: #2B2B2B;
}
#register :active
{
   color: #FFFFFF;
}
#wb_register .ui-corner-all, #wb_register .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_register .ui-corner-all, #wb_register .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_register .ui-button
{
   background-color: rgba(0,0,0,0.40);
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_register .ui-state-hover, #wb_register .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_register .ui-state-active, #wb_register .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#login
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_login
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#login
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_login .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#login
{
   color: #454545;
   text-decoration: none;
}
#login :hover
{
   color: #2B2B2B;
}
#login :active
{
   color: #FFFFFF;
}
#wb_login .ui-corner-all, #wb_login .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_login .ui-corner-all, #wb_login .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_login .ui-button
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_login .ui-state-hover, #wb_login .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_login .ui-state-active, #wb_login .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3
{
   color: #FFFFFF;
   font-family: "Brush Script MT";
   font-weight: 400;
   font-size: 48px;
   line-height: 58.5px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 32px;
}
#wb_Text10 p, #wb_Text10 ul
{
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Line1
{
   border-color: #E9E9E9;
   border-style: solid;
   border-bottom-width: 76px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text4 p, #wb_Text4 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text5 p, #wb_Text5 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7
{
   color: #FFFFFF;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 74.5px;
}
#wb_Text7 p, #wb_Text7 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8
{
   color: #4F4F4F;
   font-family: "Brush Script MT";
   font-weight: 400;
   font-size: 75px;
   line-height: 91px;
}
#wb_Text8 p, #wb_Text8 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9
{
   color: #FFFFFF;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 74.5px;
}
#wb_Text9 p, #wb_Text9 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 35px;
}
#wb_Text11 p, #wb_Text11 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.50;
   text-align: left;
}
#wb_Text12
{
   color: #4F4F4F;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 74.5px;
}
#wb_Text12 p, #wb_Text12 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text13 p, #wb_Text13 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.50;
   text-align: left;
}
#wb_Text14
{
   color: #4F4F4F;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 74.5px;
}
#wb_Text14 p, #wb_Text14 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text15 p, #wb_Text15 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.50;
   text-align: left;
}
#wb_Text16
{
   color: #4F4F4F;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 74.5px;
}
#wb_Text16 p, #wb_Text16 ul
{
   margin: 0;
   padding: 0;
}
#MorphingIcon1
{
   overflow: visible;
}
#Shape4
{
   width: 1357px;
   height: 524px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FFFFFF solid;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text17
{
   color: #000000;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 74.5px;
}
#wb_Text17 p, #wb_Text17 ul
{
   margin: 0;
   padding: 0;
}
#wb_Card1
{
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card2
{
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card3
{
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: left;
}
#Card3-card-body
{
   padding: 0;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card4
{
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card5
{
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: left;
}
#Card5-card-body
{
   padding: 0;
   font-size: 0;
}
#Card5-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card6
{
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: left;
}
#Card6-card-body
{
   padding: 0;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card6-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#viewall
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_viewall
{
   border-radius: 30px;
   margin: 0;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
   vertical-align: top;
}
#viewall
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_viewall .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#viewall
{
   color: #454545;
   text-decoration: none;
}
#viewall :hover
{
   color: #2B2B2B;
}
#viewall :active
{
   color: #FFFFFF;
}
#wb_viewall .ui-corner-all, #wb_viewall .ui-corner-left
{
   border-bottom-left-radius: 30px;
   border-top-left-radius: 30px;
}
#wb_viewall .ui-corner-all, #wb_viewall .ui-corner-right
{
   border-bottom-right-radius: 30px;
   border-top-right-radius: 30px;
}
#wb_viewall .ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #000000;
   color: #000000;
}
#wb_viewall .ui-state-hover, #wb_viewall .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_viewall .ui-state-active, #wb_viewall .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18
{
   color: #FFFFFF;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 90px;
}
#wb_Text18 p, #wb_Text18 ul
{
   margin: 0;
   padding: 0;
}
#wb_Card7
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: left;
}
#Card7-card-body
{
   padding: 0;
   font-size: 0;
}
#Card7-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 20px 20px 0 20px;
   padding: 50px 0 0 30px;
   color: #292B2C;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   padding: 0 0 0 40px;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: italic;
   font-size: 13px;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#Shape5
{
   width: 1357px;
   height: 357px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FFFFFF solid;
}
#Shape6
{
   width: 904px;
   height: 195px;
   background-color: transparent;
   background-image: url('../images/index_Shape6_bkgrnd.png');
   background-repeat: repeat;
   background-position: left top;
   border: 1px #000000 solid;
   border-radius: 5px;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19
{
   color: #000000;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 90px;
}
#wb_Text19 p, #wb_Text19 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20
{
   color: #000000;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text20 p, #wb_Text20 ul
{
   margin: 0;
   padding: 0;
}
#trynow
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   box-shadow: 0px 0px 10px #000000;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#trynow .ui-button
{
   position: absolute;
   padding: 0;
}
#trynow.ui-corner-all
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#trynow.ui-corner-all
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#trynow.ui-button
{
   background-color: #A52A2A;
   background-image: none;
   border: 1px solid #000000;
   color: #FFFFFF;
}
#trynow.ui-state-hover, #trynow.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#trynow.ui-state-active, #trynow.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#emailaddress
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.20);
   background-image: none;
   color: #000000;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.60);
   padding: 17px 4px 17px 30px;
}
#emailaddress:focus
{
   outline: 0;
}
#wb_emailaddress
{
   margin: 0;
}
#emailaddress::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#emailaddress::-ms-input-placeholder
{
   color: #4F4F4F;
}
#emailaddress-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#emailaddress::-moz-placeholder
{
   color: transparent;
}
#emailaddress::placeholder
{
   color: transparent;
}
#emailaddress:not(:-moz-placeholder-shown)
{
   padding-top: 25px;
   padding-bottom: 9px;
}
#emailaddress:focus, #emailaddress:not(:placeholder-shown)
{
   padding-top: 25px;
   padding-bottom: 9px;
}
#emailaddress:-webkit-autofill
{
   padding-top: 25px;
   padding-bottom: 9px;
}
#emailaddress:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#emailaddress:focus~label, #emailaddress:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#emailaddress:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21
{
   color: #000000;
   font-family: "Sherman Display";
   font-weight: 400;
   font-size: 64px;
   line-height: 90px;
}
#wb_Text21 p, #wb_Text21 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text22 p, #wb_Text22 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23
{
   color: #000000;
   font-family: "LEMON MILK";
   font-weight: 700;
   font-size: 16px;
   line-height: 23px;
}
#wb_Text23 p, #wb_Text23 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text24 p, #wb_Text24 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text25 p, #wb_Text25 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text26 p, #wb_Text26 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text27 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text27
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text27 p, #wb_Text27 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text28 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text28
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text28 p, #wb_Text28 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text29 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text29
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text29 p, #wb_Text29 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text30 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text30
{
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text30 p, #wb_Text30 ul
{
   margin: 0;
   padding: 0;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon1
{
   height: 31px;
   width: 34px;
}
.Icon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.Icon1:before
{
   content: "\e244";
}
#Icon1 i
{
   color: #FFA500;
   display: inline-block;
   font-size: 31px;
   line-height: 31px;
   vertical-align: middle;
   width: 30px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #FFA500;
}
.DropdownMenu1 .nav
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
}
#DropdownMenu1, .DropdownMenu1 .nav, .DropdownMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu1 .nav:before,
.DropdownMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .nav:after 
{
   clear: both;
}
.DropdownMenu1 .nav a 
{
   text-decoration: none;
}
.DropdownMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu1 .container:before,
.DropdownMenu1 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .container:after 
{
   clear: both;
}
.DropdownMenu1 .collapse 
{
   display: none;
}
.DropdownMenu1 .collapse.show 
{
   display: block;
}
.DropdownMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu1 .caret, .DropdownMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu1 .dropdown 
{
   position: relative;
}
.DropdownMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   white-space: nowrap;
}
.DropdownMenu1 .dropdown-menu>li>a:hover,
.DropdownMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .dropdown-menu>li>a.active,
.DropdownMenu1 .dropdown-menu>li>a.active:hover,
.DropdownMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu1 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu1 .show>a 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu1 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu1 .nav .show>a,
.DropdownMenu1 .nav .show>a:hover,
.DropdownMenu1 .nav .show>a:focus 
{
    border-color: #FFFFFF;
}
.DropdownMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .nav .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1
{
   position: relative;
}
.DropdownMenu1:before,
.DropdownMenu1:after
{
   content: " ";
   display: table;
}
.DropdownMenu1:after
{
   clear: both;
}
.DropdownMenu1 .navbar-header:before,
.DropdownMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu1 .navbar-header:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu1-navbar-collapse:before,
.DropdownMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu1-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu1 .navbar-nav>li>a
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu1 .navbar-toggle:hover,
.DropdownMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu1 .navbar-toggle .icon-bar
{
   background-color: #696969;
}
.DropdownMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-header
{
   color: #696969;
}
.DropdownMenu1 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu1 .navbar-header
{
   float: left;
}
.DropdownMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle
{
   display: none;
}
.DropdownMenu1 .navbar-nav 
{
   float: left;
   margin: 0;
}
.DropdownMenu1 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu1 .container>.navbar-header,
.DropdownMenu1 .container>.DropdownMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.DropdownMenu1 .navbar-nav
{
   margin: 0;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-nav>li>a
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
   margin-right: 10px;
   color: #696969;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #696969;
   border-bottom-color: #696969;
}
.DropdownMenu1 .navbar-nav > li > a.active > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #696969;
}
.DropdownMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#wb_DropdownMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: -265px;
}
#DropdownMenu1 .svg-icon
{
   fill: currentColor;
   height: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Icon1
{
   position: absolute;
   left: 236px;
   top: 2554px;
   width: 34px;
   height: 31px;
   text-align: center;
   z-index: 55;
}
#wb_uid5
{
   text-decoration: none;
   color: #4F4F4F;
}
#Image2
{
   pointer-events: none;
   user-select: none;
}
#wb_Card6
{
   position: absolute;
   left: 223px;
   top: 1957px;
   width: 239px;
   height: 101px;
   z-index: 34;
}
#wb_Shape1
{
   position: absolute;
   left: 535px;
   top: 1166px;
   width: 285px;
   height: 185px;
   z-index: 2;
}
#wb_Text28
{
   position: absolute;
   left: 590px;
   top: 3215px;
   width: 86px;
   height: 33px;
   z-index: 52;
}
#wb_uid4
{
   text-decoration: none;
   color: #4F4F4F;
}
#wb_Text19
{
   position: absolute;
   left: 320px;
   top: 2898px;
   width: 397px;
   height: 180px;
   z-index: 41;
}
#wb_Card1
{
   position: absolute;
   left: 223px;
   top: 1824px;
   width: 239px;
   height: 101px;
   z-index: 29;
}
#Image3
{
   pointer-events: none;
   user-select: none;
}
#wb_Shape2
{
   position: absolute;
   left: 893px;
   top: 1166px;
   width: 285px;
   height: 185px;
   z-index: 1;
}
#wb_uid10
{
   text-decoration: underline;
   text-decoration-color: #FFFF00;
}
#wb_Text29
{
   position: absolute;
   left: 590px;
   top: 3248px;
   width: 86px;
   height: 33px;
   z-index: 53;
}
#wb_uid3
{
   text-decoration: none;
   color: #4F4F4F;
}
#wb_Text18
{
   position: absolute;
   left: 93px;
   top: 2284px;
   width: 397px;
   height: 270px;
   z-index: 36;
}
#wb_Image1
{
   position: absolute;
   left: 1px;
   top: 3px;
   width: 1359px;
   height: 697px;
   opacity: 0.05;
   z-index: 4;
}
#wb_Shape3
{
   position: absolute;
   left: 189px;
   top: 1166px;
   width: 285px;
   height: 185px;
   z-index: 0;
}
#wb_uid2
{
   text-decoration: none;
   color: #4F4F4F;
}
#wb_Image2
{
   position: absolute;
   left: 826px;
   top: 2284px;
   width: 352px;
   height: 490px;
   z-index: 38;
}
#wb_Card3
{
   position: absolute;
   left: 915px;
   top: 1824px;
   width: 239px;
   height: 101px;
   z-index: 31;
}
#wb_Text17
{
   position: absolute;
   left: 479px;
   top: 1640px;
   width: 397px;
   height: 137px;
   text-align: center;
   z-index: 28;
}
#wb_Text4
{
   position: absolute;
   left: 780px;
   top: 830px;
   width: 226px;
   height: 66px;
   z-index: 15;
}
#wb_login
{
   position: absolute;
   left: 1096px;
   top: 18px;
   width: 108px;
   height: 56px;
   z-index: 10;
}
#email
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: yellow;
}
#wb_Card2
{
   position: absolute;
   left: 560px;
   top: 1824px;
   width: 239px;
   height: 101px;
   z-index: 30;
}
#wb_uid1
{
   fill: #FFFFFF;
   stroke: #FFFFFF;
   stroke-width: 1;
}
#wb_Text16
{
   position: absolute;
   left: 945px;
   top: 1183px;
   width: 137px;
   height: 137px;
   opacity: 0.50;
   z-index: 25;
}
#wb_Text5
{
   position: absolute;
   left: 1064px;
   top: 824px;
   width: 226px;
   height: 66px;
   z-index: 16;
}
#wb_Image3
{
   position: absolute;
   left: 653px;
   top: 66px;
   width: 637px;
   height: 634px;
   opacity: 0.60;
   z-index: 13;
}
#login
{
   width: 100%;
   height: 100%;
}
#register
{
   width: 100%;
   height: 100%;
}
#wb_Text15
{
   position: absolute;
   left: 962px;
   top: 1271px;
   width: 365px;
   height: 66px;
   z-index: 24;
}
#wb_uid0
{
   color: white;
}
#wb_Text6
{
   position: absolute;
   left: 780px;
   top: 743px;
   width: 105px;
   height: 137px;
   z-index: 3;
}
#wb_emailaddress
{
   position: absolute;
   left: 642px;
   top: 3006px;
   width: 207px;
   height: 50px;
   z-index: 44;
}
#wb_Text14
{
   position: absolute;
   left: 580px;
   top: 1183px;
   width: 137px;
   height: 137px;
   opacity: 0.50;
   z-index: 23;
}
#wb_Text7
{
   position: absolute;
   left: 1064px;
   top: 743px;
   width: 105px;
   height: 137px;
   z-index: 17;
}
#Line1
{
   position: absolute;
   left: 700px;
   top: 805px;
   width: 5px;
   z-index: 14;
}
#wb_register
{
   position: absolute;
   left: 1219px;
   top: 18px;
   width: 108px;
   height: 56px;
   z-index: 9;
}
#getstarted
{
   position: absolute;
   left: 362px;
   top: 499px;
   width: 126px;
   height: 50px;
   z-index: 8;
}
#emailaddress
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: yellow;
}
#wb_viewall
{
   position: absolute;
   left: 614px;
   top: 2124px;
   width: 126px;
   height: 50px;
   z-index: 35;
}
#wb_Text13
{
   position: absolute;
   left: 597px;
   top: 1275px;
   width: 365px;
   height: 66px;
   z-index: 22;
}
#wb_Text30
{
   position: absolute;
   left: 700px;
   top: 3182px;
   width: 86px;
   height: 33px;
   z-index: 54;
}
#wb_Text22
{
   position: absolute;
   left: 133px;
   top: 3208px;
   width: 257px;
   height: 66px;
   z-index: 46;
}
#wb_Text12
{
   position: absolute;
   left: 217px;
   top: 1183px;
   width: 137px;
   height: 137px;
   opacity: 0.50;
   z-index: 21;
}
#ThemeableButton2
{
   position: absolute;
   left: 312px;
   top: 343px;
   width: 154px;
   height: 73px;
   z-index: 7;
}
#wb_email
{
   position: absolute;
   left: 128px;
   top: 499px;
   width: 207px;
   height: 50px;
   z-index: 6;
}
#wb_Text1
{
   position: absolute;
   left: 128px;
   top: 222px;
   width: 462px;
   height: 501px;
   z-index: 5;
}
#wb_Text2
{
   position: absolute;
   left: 144px;
   top: 379px;
   width: 252px;
   height: 90px;
   z-index: 57;
}
#wb_Text23
{
   position: absolute;
   left: 479px;
   top: 3150px;
   width: 79px;
   height: 22px;
   z-index: 47;
}
#wb_Text11
{
   position: absolute;
   left: 234px;
   top: 1271px;
   width: 365px;
   height: 70px;
   z-index: 20;
}
#wb_Text20
{
   position: absolute;
   left: 641px;
   top: 2925px;
   width: 365px;
   height: 66px;
   z-index: 42;
}
#wb_Text10
{
   position: absolute;
   left: 256px;
   top: 798px;
   width: 365px;
   height: 98px;
   z-index: 12;
}
#wb_Text3
{
   position: absolute;
   left: 69px;
   top: 11px;
   width: 75px;
   height: 53px;
   text-align: center;
   z-index: 11;
}
#wb_Text21
{
   position: absolute;
   left: 133px;
   top: 3118px;
   width: 397px;
   height: 90px;
   z-index: 45;
}
#viewall
{
   width: 100%;
   height: 100%;
}
#wb_Text26
{
   position: absolute;
   left: 479px;
   top: 3248px;
   width: 86px;
   height: 33px;
   z-index: 50;
}
#wb_Shape4
{
   position: absolute;
   left: 1px;
   top: 1696px;
   width: 1359px;
   height: 526px;
   z-index: 27;
}
#MorphingIcon1
{
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   overflow: visible;
}
#wb_MorphingIcon1
{
   position: absolute;
   left: 1px;
   top: 1405px;
   width: 1411px;
   height: 641px;
   z-index: 26;
}
#wb_uid9
{
   color: #C0C0C0;
   font-family: "Josefin Sans";
   font-size: 16px;
   line-height: 30px;
}
#wb_Text27
{
   position: absolute;
   left: 590px;
   top: 3182px;
   width: 86px;
   height: 33px;
   z-index: 51;
}
#wb_Shape5
{
   position: absolute;
   left: 1px;
   top: 2959px;
   width: 1359px;
   height: 359px;
   z-index: 39;
}
#wb_uid8
{
   text-decoration: none;
   color: #4F4F4F;
}
#wb_Text24
{
   position: absolute;
   left: 479px;
   top: 3182px;
   width: 86px;
   height: 33px;
   z-index: 48;
}
#wb_Shape6
{
   position: absolute;
   left: 234px;
   top: 2890px;
   width: 906px;
   height: 197px;
   z-index: 40;
}
#wb_Card5
{
   position: absolute;
   left: 557px;
   top: 1957px;
   width: 239px;
   height: 101px;
   z-index: 33;
}
#wb_DropdownMenu1
{
   position: absolute;
   left: 415px;
   top: 30px;
   width: 587px;
   height: 47px;
   z-index: 56;
}
#wb_uid7
{
   text-decoration: none;
   color: #4F4F4F;
}
#wb_Text25
{
   position: absolute;
   left: 479px;
   top: 3215px;
   width: 86px;
   height: 33px;
   z-index: 49;
}
#trynow
{
   position: absolute;
   left: 880px;
   top: 3006px;
   width: 126px;
   height: 50px;
   z-index: 43;
}
#wb_Card4
{
   position: absolute;
   left: 915px;
   top: 1957px;
   width: 239px;
   height: 101px;
   z-index: 32;
}
#wb_Text8
{
   position: absolute;
   left: 93px;
   top: 782px;
   width: 75px;
   height: 92px;
   text-align: center;
   z-index: 18;
}
#wb_uid6
{
   text-decoration: none;
   color: #4F4F4F;
}
#wb_Card7
{
   position: absolute;
   left: 189px;
   top: 2528px;
   width: 987px;
   height: 244px;
   z-index: 37;
}
#wb_Text9
{
   position: absolute;
   left: 483px;
   top: 1008px;
   width: 397px;
   height: 137px;
   text-align: center;
   z-index: 19;
}
#Image1
{
   pointer-events: none;
   user-select: none;
}
   #getstarted{
      transition: all 0.3s ease-in-out;
   }
   #getstarted:hover{   
      box-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
   #register{
      transition: all 0.5s ease-in-out;
   }
   #register:hover{   
      box-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
   #login{
      transition: all 0.5s ease-in-out;
   }
   #login:hover{   
      box-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
   #wb_Text3 p{
      transition: box-shadow 0.5s ease-in-out;
   }
   #wb_Text3 p:hover{   
      text-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
   #viewall{
      transition: all 0.5s ease-in-out;
   }
   #viewall:hover{   
      box-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
   #trynow{
      transition: all 0.5s ease-in-out;
   }
   #trynow:hover{   
      box-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
