   ::selection{
      background-color: yellow;
      color: black;
   }
div#container
{
   width: 1360px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   background-image: url('../images/wp3354893-gradient-blur-wallpapers.jpg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(255,255,255,1.00) rgba(0,0,0,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 5px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(255,255,255,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb:hover
{
   background-color: rgba(255,165,0,1.00);
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: "LEMON MILK";
   font-weight: 700;
   font-size: 96px;
   line-height: 137px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#title
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #F6F6F6;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px #000000;
   padding: 22px 4px 22px 30px;
}
#title:focus
{
   outline: 0;
}
#wb_title
{
   margin: 0;
}
#title::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#title::-ms-input-placeholder
{
   color: #4F4F4F;
}
#title-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#title::-moz-placeholder
{
   color: transparent;
}
#title::placeholder
{
   color: transparent;
}
#title:not(:-moz-placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#title:focus, #title:not(:placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#title:-webkit-autofill
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#title:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#title:focus~label, #title:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#title:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#upload
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   box-shadow: 0px 0px 10px #000000;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#upload .ui-button
{
   position: absolute;
   padding: 0;
}
#upload.ui-corner-all
{
   border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
}
#upload.ui-corner-all
{
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
}
#upload.ui-button
{
   background-color: #A52A2A;
   background-image: none;
   border: 1px solid #000000;
   color: #FFFFFF;
}
#upload.ui-state-hover, #upload.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#upload.ui-state-active, #upload.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#video *
{
   box-sizing: border-box;
}
#video
{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#video .form-control
{
   display: block;
   width: 100%;
   height: 60px;
   line-height: 52px;
   padding: 4px 30px 4px 30px;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: #555555;
   background-color: transparent;
   background-image: none;
   border: 1px solid #FFFF00;
   border-radius: 0px;
}
#video .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0;
}
#video label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#video .input-group-btn, #video .form-control
{
   display: table-cell;
}
#video :first-child.form-control, #video :first-child.input-group-btn > .btn, #video :first-child.input-group-btn > .btn-group > .btn, #video :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, #video :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#video .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0;
   white-space: nowrap;
}
#video .btn
{
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #90C9EC;
   background-image: none;
   border: 1px solid #FFFF00;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 52px;
   height: 60px;
}
#video .input-group-btn > .btn
{
   position: relative;
}
#video-file:disabled ~ .btn
{
   background-color: #e9ecef;
   border-color: #FFFF00;
   pointer-events: none;
   color: #FFFF00;
}
#video :last-child.form-control, #video :last-child.input-group-btn > .btn, #video :last-child.input-group-btn > .btn-group > .btn, #video :first-child.input-group-btn > :not(:first-child).btn, #video :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#video :last-child.input-group-btn > .btn, #video :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#popup
{
   width: 269px;
   height: 64px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FFFFFF solid;
}
#wb_errorMessage 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_errorMessage
{
   color: #000000;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_errorMessage p, #wb_errorMessage ul
{
   margin: 0;
   padding: 0;
}
#wb_close
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#close
{
   height: 21px;
   width: 26px;
}
.close
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.close:before
{
   content: "\e5cd";
}
#close i
{
   color: #000000;
   display: inline-block;
   font-size: 21px;
   line-height: 21px;
   vertical-align: middle;
   width: 20px;
}
#wb_close:hover #close i
{
   color: #A9A9A9;
}
#description
{
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-shadow: 10px 10px 20px #000000;
   text-align: left;
   padding: 29px 4px 4px 30px;
   overflow: auto;
   resize: none;
}
#wb_description
{
   margin: 0;
}
#description:focus
{
   outline: 0;
}
#description::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#description::-ms-input-placeholder
{
   color: #4F4F4F;
}
#description-label
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   padding: 18px 4px 4px 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,font-size .1s ease-in-out;
}
#description::-moz-placeholder
{
   color: transparent;
}
#description::placeholder
{
   color: transparent;
}
#description:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   font-size: 13.6px;
   padding-top: 10px;
}
#description:focus~label, #description:not(:placeholder-shown)~label
{
   opacity: .65;
   font-size:13.6px;
   padding-top: 10px;
}
#description:-webkit-autofill~label
{
   opacity: .65;
   font-size:13.6px;
   padding-top: 10px;
}
#wb_Icon1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: #FF0000;
   background-image: none;
   border: 0px solid #245580;
}
#Icon1
{
   height: 20px;
   width: 20px;
}
.Icon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.Icon1:before
{
   content: "\e5cd";
}
#Icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #000000;
}
.DropdownMenu1 .nav
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
}
#DropdownMenu1, .DropdownMenu1 .nav, .DropdownMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu1 .nav:before,
.DropdownMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .nav:after 
{
   clear: both;
}
.DropdownMenu1 .nav a 
{
   text-decoration: none;
}
.DropdownMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu1 .container:before,
.DropdownMenu1 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .container:after 
{
   clear: both;
}
.DropdownMenu1 .collapse 
{
   display: none;
}
.DropdownMenu1 .collapse.show 
{
   display: block;
}
.DropdownMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu1 .caret, .DropdownMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu1 .dropdown 
{
   position: relative;
}
.DropdownMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   white-space: nowrap;
}
.DropdownMenu1 .dropdown-menu>li>a:hover,
.DropdownMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .dropdown-menu>li>a.active,
.DropdownMenu1 .dropdown-menu>li>a.active:hover,
.DropdownMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu1 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu1 .show>a 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu1 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu1 .nav .show>a,
.DropdownMenu1 .nav .show>a:hover,
.DropdownMenu1 .nav .show>a:focus 
{
    border-color: #FFFFFF;
}
.DropdownMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .nav .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1
{
   position: relative;
}
.DropdownMenu1:before,
.DropdownMenu1:after
{
   content: " ";
   display: table;
}
.DropdownMenu1:after
{
   clear: both;
}
.DropdownMenu1 .navbar-header:before,
.DropdownMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu1 .navbar-header:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu1-navbar-collapse:before,
.DropdownMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu1-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu1 .navbar-nav>li>a
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu1 .navbar-toggle:hover,
.DropdownMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu1 .navbar-toggle .icon-bar
{
   background-color: #696969;
}
.DropdownMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-header
{
   color: #696969;
}
.DropdownMenu1 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu1 .navbar-header
{
   float: left;
}
.DropdownMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle
{
   display: none;
}
.DropdownMenu1 .navbar-nav 
{
   float: left;
   margin: 0;
}
.DropdownMenu1 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu1 .container>.navbar-header,
.DropdownMenu1 .container>.DropdownMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.DropdownMenu1 .navbar-nav
{
   margin: 0;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-nav>li>a
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
   margin-right: 10px;
   color: #696969;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #696969;
   border-bottom-color: #696969;
}
.DropdownMenu1 .navbar-nav > li > a.active > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #696969;
}
.DropdownMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#wb_DropdownMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: -265px;
}
#DropdownMenu1 .svg-icon
{
   fill: currentColor;
   height: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3
{
   color: #FFFFFF;
   font-family: "Brush Script MT";
   font-weight: 400;
   font-size: 48px;
   line-height: 58.5px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_Icon1
{
   position: absolute;
   left: 1252px;
   top: 30px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 9;
}
#wb_popup
{
   position: absolute;
   left: 1056px;
   top: 90px;
   width: 271px;
   height: 66px;
   z-index: 5;
}
#wb_Image1
{
   position: absolute;
   left: 1px;
   top: 2px;
   width: 1359px;
   height: 677px;
   opacity: 0.05;
   z-index: 0;
}
#description
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: yellow;
}
#wb_close
{
   position: absolute;
   left: 1285px;
   top: 115px;
   width: 26px;
   height: 21px;
   text-align: center;
   z-index: 7;
}
#wb_uid0
{
   color: white;
}
#title
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: yellow;
}
#wb_errorMessage
{
   position: absolute;
   left: 1086px;
   top: 114px;
   width: 166px;
   height: 33px;
   z-index: 6;
}
#video
{
   position: absolute;
   left: 479px;
   top: 501px;
   width: 403px;
   height: 60px;
   z-index: 4;
}
#wb_Text1
{
   position: absolute;
   left: 145px;
   top: 84px;
   width: 1071px;
   height: 259px;
   text-align: center;
   z-index: 1;
}
#wb_Text3
{
   position: absolute;
   left: 69px;
   top: 11px;
   width: 75px;
   height: 53px;
   text-align: center;
   z-index: 11;
}
#video-file
{
   display: none;
}
#upload
{
   position: absolute;
   left: 478px;
   top: 572px;
   width: 405px;
   height: 60px;
   z-index: 3;
}
#wb_description
{
   position: absolute;
   left: 478px;
   top: 413px;
   width: 404px;
   height: 78px;
   z-index: 8;
}
#wb_title
{
   position: absolute;
   left: 478px;
   top: 343px;
   width: 405px;
   height: 60px;
   z-index: 2;
}
#wb_DropdownMenu1
{
   position: absolute;
   left: 415px;
   top: 30px;
   width: 587px;
   height: 47px;
   z-index: 10;
}
#Image1
{
   pointer-events: none;
   user-select: none;
}
   #wb_Text3 p{
      transition: box-shadow 0.5s ease-in-out;
   }
   #wb_Text3 p:hover{   
      text-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
