   ::selection{
      background-color: yellow;
      color: black;
   }
div#container
{
   width: 1360px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
   
}
body
{
   background-color: #000000;
   background-image: url('../images/wp3354893-gradient-blur-wallpapers.jpg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(255,255,255,1.00) rgba(0,0,0,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 5px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(255,255,255,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb:hover
{
   background-color: rgba(255,165,0,1.00);
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: "LEMON MILK";
   font-weight: 700;
   font-size: 96px;
   line-height: 137px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#done
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   box-shadow: 0px 0px 10px #000000;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#done .ui-button
{
   position: absolute;
   padding: 0;
}
#done.ui-corner-all
{
   border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
}
#done.ui-corner-all
{
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
}
#done.ui-button
{
   background-color: #A52A2A;
   background-image: none;
   border: 1px solid #000000;
   color: #FFFFFF;
}
#done.ui-state-hover, #done.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#done.ui-state-active, #done.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#Progressbar1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 6px;
   overflow: hidden;
}
#Progressbar1 .progress-bar
{
   background-color: #00FF00;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 500ms linear;
   white-space: nowrap;
}
#firstname
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px #000000;
   padding: 22px 4px 22px 20px;
}
#firstname:focus
{
   outline: 0;
}
#wb_firstname
{
   margin: 0;
}
#firstname::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#firstname::-ms-input-placeholder
{
   color: #4F4F4F;
}
#firstname-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 20px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#firstname::-moz-placeholder
{
   color: transparent;
}
#firstname::placeholder
{
   color: transparent;
}
#firstname:not(:-moz-placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#firstname:focus, #firstname:not(:placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#firstname:-webkit-autofill
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#firstname:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#firstname:focus~label, #firstname:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#firstname:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contact
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px #000000;
   padding: 22px 4px 22px 30px;
}
#contact:focus
{
   outline: 0;
}
#wb_contact
{
   margin: 0;
}
#contact::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#contact::-ms-input-placeholder
{
   color: #4F4F4F;
}
#contact-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#contact::-moz-placeholder
{
   color: transparent;
}
#contact::placeholder
{
   color: transparent;
}
#contact:not(:-moz-placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#contact:focus, #contact:not(:placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#contact:-webkit-autofill
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#contact:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contact:focus~label, #contact:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contact:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#wb_jobseaker
{
   margin: 0;
}
#wb_jobseaker, #wb_jobseaker *, #wb_jobseaker *::before, #wb_jobseaker *::after
{
   box-sizing: border-box;
}
#wb_jobseaker input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
}
#wb_jobseaker label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#wb_jobseaker label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#wb_jobseaker label::after
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 20px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_jobseaker input[type='radio']:checked + label::after
{
   background-color: #FFA500;
   background-image: none;
   border-color: #FFA500;
   transform: scale(0.66, 0.66);
}
#wb_jobseaker input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#wb_employer
{
   margin: 0;
}
#wb_employer, #wb_employer *, #wb_employer *::before, #wb_employer *::after
{
   box-sizing: border-box;
}
#wb_employer input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
}
#wb_employer label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#wb_employer label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#wb_employer label::after
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 20px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_employer input[type='radio']:checked + label::after
{
   background-color: #FFA500;
   background-image: none;
   border-color: #FFA500;
   transform: scale(0.66, 0.66);
}
#wb_employer input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4
{
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_Text4 p, #wb_Text4 ul
{
   margin: 0;
   padding: 0;
}
#wb_Icon1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: #FF0000;
   background-image: none;
   border: 0px solid #245580;
}
#Icon1
{
   height: 20px;
   width: 20px;
}
.Icon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.Icon1:before
{
   content: "\e5cd";
}
#Icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #000000;
}
.DropdownMenu1 .nav
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
}
#DropdownMenu1, .DropdownMenu1 .nav, .DropdownMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu1 .nav:before,
.DropdownMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .nav:after 
{
   clear: both;
}
.DropdownMenu1 .nav a 
{
   text-decoration: none;
}
.DropdownMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu1 .container:before,
.DropdownMenu1 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .container:after 
{
   clear: both;
}
.DropdownMenu1 .collapse 
{
   display: none;
}
.DropdownMenu1 .collapse.show 
{
   display: block;
}
.DropdownMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu1 .caret, .DropdownMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu1 .dropdown 
{
   position: relative;
}
.DropdownMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   white-space: nowrap;
}
.DropdownMenu1 .dropdown-menu>li>a:hover,
.DropdownMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .dropdown-menu>li>a.active,
.DropdownMenu1 .dropdown-menu>li>a.active:hover,
.DropdownMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu1 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu1 .show>a 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu1 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu1 .nav .show>a,
.DropdownMenu1 .nav .show>a:hover,
.DropdownMenu1 .nav .show>a:focus 
{
    border-color: #FFFFFF;
}
.DropdownMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .nav .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1
{
   position: relative;
}
.DropdownMenu1:before,
.DropdownMenu1:after
{
   content: " ";
   display: table;
}
.DropdownMenu1:after
{
   clear: both;
}
.DropdownMenu1 .navbar-header:before,
.DropdownMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu1 .navbar-header:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu1-navbar-collapse:before,
.DropdownMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu1-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu1 .navbar-nav>li>a
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu1 .navbar-toggle:hover,
.DropdownMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu1 .navbar-toggle .icon-bar
{
   background-color: #696969;
}
.DropdownMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-header
{
   color: #696969;
}
.DropdownMenu1 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu1 .navbar-header
{
   float: left;
}
.DropdownMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle
{
   display: none;
}
.DropdownMenu1 .navbar-nav 
{
   float: left;
   margin: 0;
}
.DropdownMenu1 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu1 .container>.navbar-header,
.DropdownMenu1 .container>.DropdownMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.DropdownMenu1 .navbar-nav
{
   margin: 0;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-nav>li>a
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
   margin-right: 10px;
   color: #696969;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #696969;
   border-bottom-color: #696969;
}
.DropdownMenu1 .navbar-nav > li > a.active > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #696969;
}
.DropdownMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#wb_DropdownMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: -265px;
}
#DropdownMenu1 .svg-icon
{
   fill: currentColor;
   height: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3
{
   color: #FFFFFF;
   font-family: "Brush Script MT";
   font-weight: 400;
   font-size: 48px;
   line-height: 58.5px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#lastname
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px #000000;
   padding: 22px 4px 22px 20px;
}
#lastname:focus
{
   outline: 0;
}
#wb_lastname
{
   margin: 0;
}
#lastname::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#lastname::-ms-input-placeholder
{
   color: #4F4F4F;
}
#lastname-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 20px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#lastname::-moz-placeholder
{
   color: transparent;
}
#lastname::placeholder
{
   color: transparent;
}
#lastname:not(:-moz-placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#lastname:focus, #lastname:not(:placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#lastname:-webkit-autofill
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#lastname:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#lastname:focus~label, #lastname:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#lastname:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#wb_Icon1
{
   position: absolute;
   left: 1252px;
   top: 30px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 10;
}
#wb_Image1
{
   position: absolute;
   left: 1px;
   top: 2px;
   width: 1359px;
   height: 677px;
   opacity: 0.05;
   z-index: 0;
}
#wb_Text4
{
   position: absolute;
   left: 503px;
   top: 517px;
   width: 100px;
   height: 33px;
   z-index: 9;
}
#wb_uid0
{
   color: white;
}
#done
{
   position: absolute;
   left: 478px;
   top: 570px;
   width: 405px;
   height: 60px;
   z-index: 2;
}
#jobseaker
{
   position: absolute;
   left: 0;
   top: 0;
}
#wb_lastname
{
   position: absolute;
   left: 682px;
   top: 333px;
   width: 201px;
   height: 60px;
   z-index: 13;
}
#Progressbar1
{
   position: absolute;
   left: 478px;
   top: 271px;
   width: 403px;
   height: 9px;
   z-index: 3;
}
#wb_Text1
{
   position: absolute;
   left: 256px;
   top: 126px;
   width: 848px;
   height: 130px;
   text-align: center;
   z-index: 1;
}
#wb_Text2
{
   position: absolute;
   left: 732px;
   top: 517px;
   width: 92px;
   height: 33px;
   z-index: 8;
}
#employer
{
   position: absolute;
   left: 0;
   top: 0;
}
#contact
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: yellow;
}
#wb_Text3
{
   position: absolute;
   left: 69px;
   top: 11px;
   width: 75px;
   height: 53px;
   text-align: center;
   z-index: 12;
}
#wb_jobseaker
{
   position: absolute;
   left: 618px;
   top: 519px;
   width: 26px;
   height: 20px;
   z-index: 6;
}
#wb_contact
{
   position: absolute;
   left: 478px;
   top: 416px;
   width: 405px;
   height: 60px;
   z-index: 5;
}
#wb_firstname
{
   position: absolute;
   left: 478px;
   top: 333px;
   width: 196px;
   height: 60px;
   z-index: 4;
}
#firstname
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: yellow;
}
#wb_employer
{
   position: absolute;
   left: 832px;
   top: 519px;
   width: 26px;
   height: 20px;
   z-index: 7;
}
#lastname
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: yellow;
}
#wb_DropdownMenu1
{
   position: absolute;
   left: 415px;
   top: 30px;
   width: 587px;
   height: 47px;
   z-index: 11;
}
#Image1
{
   pointer-events: none;
   user-select: none;
}
   #done{
      transition: all 0.3s ease-in-out;
   }
   #done:hover{   
      box-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
   #wb_Text3 p{
      transition: box-shadow 0.5s ease-in-out;
   }
   #wb_Text3 p:hover{   
      text-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
